.about-view {
  display: flex;
  justify-content: center;
  color: #33334f;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 50%;

    h1 {
      text-align: center;
    }

    h2 {
      font-size: 20px;
      line-height: 40px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
