.algo-form {
  font-weight: 700;

  .fields {
    display: flex;
    flex-direction: row;
    justify-content: center;

    label {
      text-align: center;
    }

    input {
      text-align: center;
    }

    .left-container {
      width: 30%;
      margin-top: 40px;
    }

    .right-container {
      display: flex;
      flex-direction: column;
      width: 60%;

      h2 {
        font-size: 20px;
        margin: 0 0 15px 0px;
        text-align: center;
      }

      .basal-rates {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        label {
          flex-direction: column;
          width: 75px;
          margin: 0 0 10px 10px;

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
              /* display: none; <- Crashes Chrome on hover */
              -webkit-appearance: none;
              margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }
        }
      }
    }
  }

  #submit-button {
    margin-right: 23px;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36,180,126,.4);
    color: #fff;
    width: 100px;
    font-size: 12px;
    align-self: center;
    margin-top: 15px;
    border: 0;
  }

  input:focus {outline: none;}
}
