.algorithm-result {
  display: flex;
  flex-direction: row;

  .material-card {
    padding: 0 0 50px 0;
  }

  h2 {
    padding: 35px 30px 20px;
    text-align: center;
    min-width: 500px;
    border-bottom: 2px solid #f6f9fc;
  }

  .previous-settings {
    flex-basis: 50%;
    max-width: 50%;
    margin-right: 0;
    background-image: linear-gradient(45deg,#6078ff,#8660fe);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;

    h2 {
      border-bottom-color: rgba(85,90,191,.5);
    }
  }

  .autotune-settings {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 75%;
    align-self: center;
  }

  .basals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
    }

    table {
      width: 75%;

      tbody {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 25px;
        height: 220px;
        width: 100%;

        tr {
          display: flex;
          justify-content: space-around;
        }

        td, th {
          width: 50%;
          text-align: left;
        }
      }
    }
  }
}
