.algorithm-view {
  flex-direction: column;
  align-items: center;
  color: #33334f;

  .material-card {
    width: 75%;
  }

  h1 {
    font-size: 30px;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}
