@import 'vars';

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
}


.app {
  min-height: 100vh;
  position:relative;
  margin: 0;

  @media (max-width: $screen-sm) {}


  .common-button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
  }

  .action-link {
    margin-right: 23px;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36,180,126,.4);

    a {
      display: inline;
      color: #fff;
      text-decoration: none;
    }
  }

  .info-link {
    margin-right: 15px;

    a {
      display: inline;
      color: #767ead;
      text-decoration: none;
    }
  }


}
