.open-button {
  cursor: pointer;
}

.dialog-container {
  width: 400px;
  padding: 32px;
  outline: none;
  position: absolute;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
  background-color: #fff;

  h6 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    textarea {
      height: 150px;
      margin: 5px 0;
      outline: 0;
      tap-highlight-color: rgba(255,255,255,0);
      line-height: 1.21428571em;
      padding: .67857143em 1em;
      font-size: 1em;
      background: #fff;
      border: 1px solid rgba(34,36,38,.15);
      color: rgba(0,0,0,.87);
      border-radius: .28571429rem;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color .1s ease,border-color .1s ease;
    }

    #submit-button {
      margin-right: 23px;
      background: #3ecf8e;
      text-shadow: 0 1px 3px rgba(36,180,126,.4);
      color: #fff;
      width: 100px;
      font-size: 12px;
      align-self: center;
      margin-top: 15px;
      border: 0;
    }

    textarea:focus {outline: none;}

    .common-button {
      white-space: nowrap;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 14px;
      -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      background: #fff;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .025em;
      color: #6772e5;
      text-decoration: none;
      -webkit-transition: all .15s ease;
      transition: all .15s ease;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      }
    }
  }
}
