footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  background: #33334f;
  color: #fff;

  .note {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 20px 20px;

    .heart{
      color:#e25555;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
