.main {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 50px 40px 285px 40px;

  .summary {
    width: 50%;
    padding: 0 4%;

    h1 {
      font-family: Montserrat, sans-serif;
      font-size: 70px;
      font-weight: 600;
      color: #33334f
    }

    p {
      font-size: 27px;
      color: #767ead;
      font-weight: 400;
    }
  }
}
