@import 'vars';

.logo {
  overflow: hidden;
  position: absolute;
  left: 4%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  text-decoration: none;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-family: Ubuntu, sans-serif;
      font-weight: bold;
      font-size: 37px;
      color: #33334F;
    }
  }
}
