@import 'vars';

header {

  .grid__row {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .grid__column {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;

      nav {
        display: block;
        text-align: center;

        ul {
          margin: 0;
          padding: 0;

          li {
            position: relative;
            list-style: none;
            display: inline-block;
            margin: 0;
            transition: all .25s ease-out;

            a {
              color: #767ead;
              display: inline-block;
              padding: 30px 15px;
              text-decoration: none;
            }
          }
        }
      }

      .right-nav {
        position: absolute;
        right: 4%;

        .action-link {
          margin-right: 23px;
          background: #3ecf8e;
          text-shadow: 0 1px 3px rgba(36,180,126,.4);

          a {
            display: inline;
            color: #fff;
          }
        }

        .info-link {
          margin-right: 15px;

          a {
            display: inline;
            color: #767ead;
          }
        }
      }

      .left-nav {
        text-transform: uppercase;

        li:hover {
          opacity: .6;
        }
      }
    }
  }
}
